<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Declare features -->
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- Declare permissions -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AIPrac"
        tools:targetApi="31">
        <activity
            android:name=".face_landmarks.FaceMeshActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".lips.LipsActivity"
            android:exported="false">

        </activity>
        <!-- Some devices, like the Pixel 6, may need to actively declare the use of native libs -->
        <uses-native-library
            android:name="libOpenCL.so"
            android:required="false" />
        <uses-native-library
            android:name="libOpenCL-car.so"
            android:required="false" />
        <uses-native-library
            android:name="libOpenCL-pixel.so"
            android:required="false" />

        <activity
            android:name=".hair_background.MainActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
<!--        <activity-->
<!--            android:name=".image_generation.ImgGenActivity"-->
<!--            android:exported="true">-->

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
<!--        </activity>-->
<!--        <activity-->
<!--            android:name=".image_generation.diffusion.DiffusionActivity"-->
<!--            android:keepScreenOn="true" />-->
<!--        <activity-->
<!--            android:name=".image_generation.plugins.PluginActivity"-->
<!--            android:keepScreenOn="true" />-->
<!--        <activity-->
<!--            android:name=".image_generation.loraweights.LoRAWeightActivity"-->
<!--            android:keepScreenOn="true" />-->
    </application>

</manifest>